/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/

body {
    font-family: sans-serif;
}


/*layout*/
.page-header {
    height: 80px;

}

.wrapper {
    display: flex;
    height: calc(100vh - 80px);
    background-color: blueviolet;
}

.sidebar {
    flex-basis: 100px;
    flex-shrink: 0;
    background-color: black;

}

main {
    flex: 1 1 auto;
    background-color: aliceblue;
    overflow: auto;
}

/*header*/

.main-header {
    background-color: aqua;
    height: 150px;
}

.fa-bell {
    color: #FF8F00;
}