/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/

body {
    font-family: sans-serif;
}


/*layout*/
.page-header {
    height: 80px;

}

.wrapper {
    display: flex;
    height: calc(100vh - 80px);
}

/*sidebar*/
.sidebar {
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.sidebar .fas {
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    line-height: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;


}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar .bottom {
    margin-top: 660px;
}

/*main*/

main {
    flex: 1 1 auto;
    background-color: aliceblue;
    overflow: auto;
}

/*header*/

.main-header {
    background-color: #1B72E8;
    color: #fff;
}

.btn-darkblue {
    background-color: #165BBA;
    color: white;
    border-radius: 20px;
}

.btn-plus {
    font-size: 20px;
}

.header-number {
    font-size: 30px;
}

.fa-bell {
    color: #FF8F00;
}

th img {
    width: 30px;
}